# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\Wiktor\code\learnopengl_tutorial codebase based on best match to current usage at 03/02/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cpp]
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

